@font-face {
    font-family: 'Hellix TRIAL';
    src: url('HellixTRIAL-Regular.woff2') format('woff2'),
        url('HellixTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

