body {
    margin: 0;
    background: linear-gradient(#0A0B10, #0B0B0F);
}

.container {
    position: relative;
    width: 100vw; height: 78vh;
    display: flex;
    flex-direction: column;
}

.bg-img {
    background-image: url(../img/login/login-forgot.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%; height: 100%;
}

.header-logo {
    color: var(--white-color);
    font-size: 3.6rem;
    margin: 40px;
    text-decoration: none;
    cursor: pointer;
    z-index: 200;
}

.content {
    margin: auto 0;
    display: flex;
    padding: 0 10vw;
}

.content_box {
    padding: 30px 40px;
    border-radius: 10px;
    background-color: var(--brown-color);
    margin: auto;
    box-shadow: 10px 10px 5px var(--dark-color);
}

.content_box h2 {
    color: var(--white-color);
    font-weight: 650;
    font-size: 2.6rem;
    text-align: center;
}

.content_box p {
    margin: 0 50px;
    color: var(--gray-color);
    font-size: 1.2rem;
    text-align: center;
}

.content_box-input {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* padding: 0 10vw; */
}

.content_box-input input {
    /* margin: auto; */
    padding: 10px 10px;
    background-color: var(--dark-color);
    font-size: 1.2rem;
    outline: none;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content_box-submit {
    border-radius: 20px;
    width: 100%;
    border: none;
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--dark-color);
    background-color: var(--yellow-color);
    padding: 10px 40px;
}

.content_box-submit:active {
    transform: scale(90%);
}

@media only screen and (max-width: 700px) {
}