@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType.woff2') format('woff2'),
        url('BrutalType.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

